body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aliceblue;
}
h1
{
    color: blue;
    font-size: 3em;
    margin-top: 20px;
}
.board {
    margin: 20px auto;
    background-color: rgb(115, 103, 126);
    border: 2px solid #333333;
    width: 90vw; /*1vw = 10px*/
    max-width: 300px;
    display:grid;
    grid-template-columns: repeat(3,100px);
    -ms-grid-column-align: center;
    grid-template-rows: repeat(3,100px);
    -ms-grid-row-align: center;
    font-size: 2em;
    aspect-ratio: 1/1;
}
.cell{
    background-color: antiquewhite;
    border: 2px solid #333333;
    font-size: 8vw;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 100px;    
}
.cell:hover{
    background-color: azure;
}
#resetbutton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size :1.2em;
    background-color: blueviolet;
    color: white #333333;
    border-radius: 5px;
    cursor: pointer;
}

.myModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
    background-color: #fff;
    margin: 10% auto;
    padding: 5%;
    border-radius: 8px;
    width: 600px;
    height: 400px;
    position: relative;
}

#resetbutton:hover {
background-color: aqua;
}

@media(max-aspect-ratio :4/3){
    .cell{
        font-size: 6vw;
    }

    #resetbutton {
        font-size: 1.2em;
    }

}
@media(max-aspect-ratio :16/9) {
    .cell{
        font-size: 9vw;

    }

    #resetbutton{
        font-size:1.5em;
    }
}

#nextbutton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size :1.2em;
    background-color: rgb(14, 35, 223);
    color: white #333333;
    border-radius: 5px;
    cursor: pointer;
}

#nextbutton:hover {
background-color: aqua;
}

@media(max-aspect-ratio :4/3){
    .cell{
        font-size: 6vw;
    }

    #nextbutton {
        font-size: 1.2em;
    }

}
@media(max-aspect-ratio :16/9) {
    .cell{
        font-size: 9vw;

    }

    #nextbutton{
        font-size:1.5em;
    }
}